/* Write your CSS here */

p {
  font-family: 'Roboto';
}
.transaction-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-color: #7e858e;
  border: 1px solid;
}
.row-text {
  color: #334155;
}
.delete-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.delete-img {
  width: 15px;
}
